.town
  .close ui-sref="stuff_box_index_path"
    =image_tag("close.svg")

  .town-container
    =image_tag("road.svg", id: "road", alt: "svg")
    =image_tag("place-1.svg", id: "place-1", alt: "svg")
    =image_tag("place-2.svg", id: "place-2", alt: "svg")
    =image_tag("place-3.svg", id: "place-3", alt: "svg")
    .dot
    .car#car1
    .car#car2
    =image_tag("portal.svg", id: "portal", alt: "svg")
    =image_tag("ballon.svg", id: "ballon", alt: "svg")
    =image_tag("cloud-left.svg", id: "cloud-left", alt: "svg")
    =image_tag("cloud-right.svg", id: "cloud-right", alt: "svg")