/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require oxymoron/ng-notify
 *= require ammap.css
 */
$grey: #d3d3d3
body
  overflow: hidden !important


.not-overflow
  overflow-y: hidden !important

@font-face 
  font-family: 'super-molot'
  src: url('SuperMolot.ttf')

@font-face 
  font-family: 'open-sans'
  src: url('OpenSans-Regular.ttf')

@font-face 
  font-family: 'm-fred'
  src: url('MFred.ttf')

a
  text-decoration: none !important

img
  user-select: none

.navbar
  position: relative
  z-index: 9999
  height: 50px
  width: 100%
  background-color: $grey
  .menu
    position: relative
    width: 100%
    height: 0px
    background-color: rgba(0,0,0,0.9) 
    transition: 0.5s 
    @keyframes flexcontent
      0%
        height: 0px
      100%
        height: 500px
    .content
      opacity: 1
      position: absolute
      margin: 0px auto
      top: 150px
      left: 0px
      right: 0px
      height: 0px
      width: 400px
      transition: 0.3s
      overflow-y: hidden
      .el
        position: relative
        height: 0px
        margin-top: 20px
        width: 100%
        color: white
        font-size: 32px
        font-family: 'm-fred'
        text-align: center
        cursor: pointer
        color: white !important
        &:hover
          font-size: 33px
    .open
      animation: flexcontent 0.5s
      height: auto
      .el
        height: 40px

  .menu-field
    height: 700px
    display: block

  .menu-icon
    position: relative
    height: 27px
    width: 55px
    margin: auto  
    top: 0px
    border-radius: 0px 0px 5px 5px
    transition: top 0.5s
    .icon
      position: relative
      height: 20px
      width: 45px
      background-image: url('downto')
      background-size: cover
      margin: 0px auto
      top: 2px
    &:hover
      cursor: pointer
      background-color: grey
    img
      height: 20px
      width: 45px  

  .bottom
    position: absolute
    border-radius: 5px 5px 0px 0px
    top: 655px
    left: 0
    right: 0  
    .icon
      background-image: url('upto')

  .logo
    position: absolute
    height: 50px
    width: 180px
    margin-left: 50px
    display: flex
    cursor: pointer
    &:hover
      background-color: #D4D4D4 !important    
    img
      width: 50px
      height: 100%
    .logo-text
      padding-top: 15px
      padding-left: 5px
      font-size: 20px
      font-family: 'super-molot'

@keyframes slide
  from
    margin-left: 100%
  to
    margin-left: 0%

@keyframes falling
  0%
    transform: scale(1.08, 1.08)
  90%
    transform: scale(1.08, 1.08)
  98%
    transform: scale(1.01, 1.01)

@keyframes hidding
  0%
    opacity: 1
  90%
    opacity: 0
  100%
    opacity: 0

@keyframes scrollUp
  100%
    top: 50px

.ng-enter, .ng-enter-active 
  transition: 0.8s
  .fon, .content
    scroll-behavior: smooth
    z-index: 999
    position: absolute
    animation: slide 0.8s, falling 0.8s, scrollUp 0.8s

.ng-leave
  transition: 0.8s
  .fon, .content
    position: absolute
    z-index: -999
    animation: hidding 0.8s

.ng-leave-active
  .fon, .content
    opacity: 0