$light: #c3c3c3
$bgrey: #2e2e2e
$yellow: #ffd631
$grey: #a7a7a7

$angle: 250px

$box: #D0B89D
$shadow: #BFA58A
$border: #D3A473

$time: 1s
$desctop: 1300px

@mixin desctop
  @media (min-width: $desctop)
    @content

@mixin smobile
  @media (max-width: 320px)
    @content

@mixin mobile
  @media (min-width: 321px) and (max-width: 567px)
    @content

@mixin tablet
  @media (min-width: 568px) and (max-width: 1025px)
    @content

.coffee
  height: 100%
  width: 100%
  background-color: $bgrey
  position: relative
  .bottom-panel
    position: absolute  
    height: 50px
    width: 100%
    bottom: 50px
    background-color: $light
    @include mobile
      bottom: 35px
    .buttons
      width: 300px
      height: 35px
      margin: 7px auto
      background-color: grey
      position: relative
      .button
        height: 35px
        width: 35px
        position: absolute
        background-color: $bgrey
        cursor: pointer
        
      .left
        left: 0
      .right
        right: 0

  .place
    position: absolute
    height: calc(100% - 100px)
    width: 100%
    .slideRight    
    
    .slide-container
      position: relative
      width: calc(7*350px + 7* 75px)
      margin-left: 0px
      margin-top: 4% 
      height: 84%
      left: -0px
      display: flex
      @include mobile
        margin-top: 14%
        margin-left: 20px
      .active
        transition: 1s
        .coffee-cont
          transition: 1s
          transform: scale(1.3, 1.2)
      .uses

      .move-down
        .coffee-cont
          animation: MoveDown 0.7s 
          transform: scale(1.0, 1.0)

      .coffee-bl
        height: calc(100% - 50px)
        width: 350px
        margin-top: 25px
        margin-left: 75px

        .coffee-cont
          height: 100%
          width: 100%
          border-radius: 5px
          box-shadow: 0 15px 15px 0px rgba(0,0,0,0.3)
          .image
            width: 100%
            height: 200px
            img
              border-radius: 5px 5px 0px 0px
              height: 100%
              width: 100%
          .desc
            height: calc(100% - 200px)
            width: 100%
            background-color: white
            border-radius: 0px 0px 5px 5px


@keyframes MoveDown
  0%
    transform: scale(1.3, 1.2)
  100%
    transform: scale(1.0, 1.0)



