$bgrey: #2e2e2e
$light: #c3c3c3
$yellow: #ffd631
$grey: #a7a7a7

@mixin desctop
  @media (min-width: $desctop)
    @content

@mixin smobile
  @media (max-width: 320px)
    @content

@mixin mobile
  @media (min-width: 321px) and (max-width: 567px)
    @content

@mixin tablet
  @media (min-width: 568px) and (max-width: 1025px)
    @content

.bgrey-back
  height: 100%
  width: 100%
  background-color: $bgrey
  position: relative
  .form-cont
    height: 500px
    width: 400px
    background-color: $light
    margin: 0px auto
    margin-top: 75px
    position: relative
    @include mobile
      width: 80%
      height: 70%
      margin-top: 60px 
    @include smobile
      width: 90%
      height: 80%
      margin-top: 40px    
    .title
      text-align: center
      color: $bgrey
      font-size: 32px
      padding-top: 25px
      font-family: 'm-fred'
    form 
      width: 300px
      height: auto
      margin: auto
      margin-top: 50px
      @include mobile
        width: 90%        
      @include smobile
        width: 90%  
      .field
        width: 100%
        height: 30px
        margin-top: 50px
        input
          border: none
          width: 100%
          height: 30px
          background-color: $bgrey
          color: $yellow
          font-family: 'open-sans'
          text-align: center
        label
          margin-top: 5px
          color: $bgrey
          font-family: 'm-fred'
          font-size: 18px
          float: right
        button,
        button:hover, 
        button:focus,
        button:active  
          width: 100%
          height: 40px
          background-color: $yellow
          color: $bgrey
          border: none
          font-family: 'm-fred'
          font-size: 25px 
          padding-top: 8px
          transition: 0.5s
          cursor: pointer

          &:hover
            background-color: $bgrey
            color: $yellow


