// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
$light: #c3c3c3
$bgrey: #2e2e2e
$yellow: #ffd631
$grey: #a7a7a7

.fon
  overflow-x: hidden !important
  width: 100% !important
  position: relative
  display: block
  height: auto
  background-color: white
.content
  overflow-x: hidden !important
  width: 100%
  position: relative
  height: calc(100% - 50px)
  display: block
  .about-container
    position: relative
    height: 100%
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: nowrap  
    .sidebar-cont
      height: 100%
      min-width: 350px
      max-width: 350px
      background-color: $bgrey
      z-index: 100
      display: flex
      flex-direction: column
      .right-line
        position: absolute
        height: 100%
        width: 3px
        background-color: $yellow 
        left: 347px 
        z-index: 10000     
      .sidebar-el
        width: 100%
        height: 300px       
        border-top: 1px solid $light
    .info-cont
      height: 100%
      width: 100%
      background-color: $light
      position: relative
      .info
        height: 65%
        width: 100%
      .slider-cont
        z-index: 10
        width: 100%
        height: 35%
        background-color: white 
        .slider-el
          opacity: 0
          position: absolute
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          height: 100%
          min-width: 100%
          height: 35%        
          .cover
            background-color: grey
            height: 100%
            max-width: 500px
            min-width: 500px
            position: relative
            img
              width: 500px
              height: 100%
          .info-bl
            height: 100%
            min-width: 500px
        .hideSLide
          animation: hide 0.4s   
        .active 
          opacity: 1
          left: 0
        .slideLeft
          animation: slideLeft 0.8s 
        .slideRight
          animation: slideRight 0.8s             
        .hide
          display: none 

        .arrow-cont
          z-index: 100
          $arrow-h: 50px
          position: absolute
          height: $arrow-h
          width: 100%
          margin-top: calc(35%/2 - 80px)
          .arrow
            position: absolute
            height: $arrow-h
            width: 30px
            background-color: $bgrey
            transition: 0.5s
            &:hover
              cursor: pointer 
              background-color: $grey  
          .last
            left: 0
            border-radius: 0px 5px 5px 0px
          .next
            right: 0
            border-radius: 5px 0px 0px 5px          
  .contact-container
    height: 100%
    width: 100%  
    display: relative
    background-color: $bgrey
    .blocks
      $cont-h: 500px
      position: absolute
      margin-left: 10%
      width: 80%
      height: 500px
      top: 50px
      display: flex
      justify-content: space-between
      .half
        height: 100%
        width: 50%
        .contacts
          height: 100%
          width: 100%
          display: flex
          flex-direction: column
          justify-content: space-around
          .contact
            height: 100px
            width: 100%
            padding-top: 40px
            color: white            
            &:nth-child(even)
              background-color: $yellow
              color: $bgrey
            span
              font-family: 'super-molot'
              font-size: 25px
              &:nth-child(1)
                moz-user-select: none
                user-select: none
                apple-user-select: none
                webkit-user-select: none
                font-weight: 600
                padding-left: 20px
              &:nth-child(2)
                padding-left: 20px                

        .logo-cont
          $logo-h: 200px
          height: $logo-h
          width: 100%
          margin: 0px auto
          margin-top: ($cont-h - $logo-h)/2
          display: flex
          .anim
            height: $logo-h
            width: $logo-h
            img
              position: absolute
              top: 0
              left: -200px
          .title
            moz-user-select: none
            user-select: none
            apple-user-select: none
            webkit-user-select: none          
            padding-top: 60px
            color: $light
            font-family: 'super-molot'
            font-size: 61
            text-align: center


  .container
    position: relative
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    .big-cover
      $cover-h: 520px
      min-height: $cover-h
      max-height: $cover-h
      background-image: url("main")
      background-size: cover
    .gallery
      position: relative
      $cover-h: 450px
      min-height: $cover-h
      max-height: $cover-h                    
      .gallery-cont   
        width: 100%
        position: absolute
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        min-height: $cover-h
        max-height: $cover-h       
        .prev
          left: -100%
        .next
          left: 100%
        .gallery-el
          opacity: 0
          position: absolute
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          height: 100%
          min-width: 100%
          height: $cover-h        
          .cover
            $info-w: 800px
            min-width: $info-w
            max-width: $info-w 

            background-color: grey
            height: 100%
            position: relative
            .note
              top: 0
              position: absolute
              height: 50px
              width: 200px
              background-color: $yellow
              margin-top: 250px
              text-align: center
              color: $bgrey
              padding-top: 20px
              font-size: 20px
              font-family: 'super-molot' 
            img
              width: 100%
              height: $cover-h
          .info-bl
            flex-basis: 100%          
            height: 100%
            background-color: $bgrey
            border-left: 4px solid $yellow
        .hideSLide
          animation: hide 0.4s   
        .active 
          opacity: 1
          left: 0
        .slideLeft
          animation: slideLeft 0.8s 
        .slideRight
          animation: slideRight 0.8s             
        .hide
          display: none 

    .footer-slider
      height: 100%
      width: 100%
      background-color: #404040
      position: relative
      .dots
        height: 140px
        width: 90%
        margin: 0px auto
        margin-top: 20px
        position: relative
        display: flex
        wrap: nowrap
        justify-content: space-around
        .dot
          height: 100%
          width: 250px
          position: relative
          img
            top: 0
            position: absolute
            z-index: 90
            margin: 5px
            width: 240px
            height: 130px
          .back
            top: 0
            z-index: 100
            position: relative
            height: 140px
            width: 250px
            cursor: pointer
            transition: 0.6s
            background: url("borders") no-repeat
            .text
              opacity: 0 
              text-align: center
              color: white
              font-family: 'm-fred'
              font-size: 30px
              padding-top: 55px
            &:hover, &:focus
              background-color: rgba(0, 0, 0, 0.9)
              transform: scale(1.1, 1.1)
              .text
                opacity: 1                
        .active
          .back
            background-color: rgba(0, 0, 0, 0.9)
            transform: scale(1.1, 1.1)   
            .text
              opacity: 1       
      .arrow-cont
        top: 0px
        z-index: 100
        $arrow-h: 60px
        position: absolute
        height: $arrow-h
        width: 100%
        margin-top: 65px
        .arrow
          position: absolute
          height: $arrow-h
          width: 30px
          background-color: $yellow
          transition: 0.5s
          &:hover
            cursor: pointer 
            background-color: $grey  
        .last
          left: 0
          border-radius: 0px 5px 5px 0px
        .next
          right: 0
          border-radius: 5px 0px 0px 5px 

    .footer-nav
      height: 300px
      width: 100%
      position: relative 
      .container
        width: 100%
        position: absolute
        height: 100%
        display: flex
        flex-direction: row
        flex-wrap: nowrap      
        .yellow
          background-color: $yellow
        .grey
          background-color: $grey
        .bgrey
          background-color: $bgrey 
          color: $yellow 
        .foot-el
          transition: 0.2s
          height: 100%
          width: 100% 
          &:nth-child(1)
            a
              color: $bgrey
          &:nth-child(2)
            a
              color: white          
          &:nth-child(3)
            a
              color: $yellow      
          .cont
            width: 60%
            margin: 0 auto
            height: 100%
            display: flex
            .text
              margin-top: 25px
              margin-left: 50px
              font-size: 31px
              font-family: "super-molot"
              padding-top: 10px
            img
              color: white
              width: 50px
              height: 50px
              margin-left: 25px 
              fill: $yellow
              color: $yellow
              margin-top: 25px  
        .hover:hover
          cursor: pointer
          transform: translate(0px, -5px) scale(1.1, 1.1)




.test-content
  height: 400px
  position: relative
  width: 80%
  background-color: #D4D4D4
  margin: 0px auto
  margin-top: 50px
  img 
    height: 100%
    width: 100%

@keyframes slideLeft
  0%
    left: 100%
  100%
    left: 0

@keyframes slideRight
  0%
    left: -100%
  100%
    left: 0

@keyframes hide
  0%
    opacity: 1
  80%
    opacity: 0.3
  100%
    opacity: 0