// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
$light: #c3c3c3
$bgrey: #2e2e2e
$yellow: #ffd631
$grey: #a7a7a7

.fon
  overflow-x: hidden !important
  width: 100% !important
  position: relative
  display: block
  height: auto
  background-color: white
.content
  overflow-x: hidden !important
  width: 100%
  position: relative
  height: calc(100% - 50px)
  display: block
  .container
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    .big-cover
      $cover-h: 520px
      min-height: $cover-h
      max-height: $cover-h
      background-image: url("main")
      background-size: cover
  
    .gallery-cont
      $cover-h: 480px
      min-height: $cover-h
      max-height: $cover-h
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      .cover
        background-color: grey
        height: 100%
        flex-basis: 100%
      .info-bl
        $info-w: 500px
        min-width: $info-w
        max-width: $info-w      
        height: 100%
        background-color: white

    .footer-nav
      height: 300px
      width: 100%
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      .yellow
        background-color: $yellow
      .grey
        background-color: $grey
      .bgrey
        background-color: $bgrey  
      .foot-el
        transition: 0.2s
        height: 100%
        width: 100%
      .hover:hover
        cursor: pointer
        transform: scale(1.1, 1.1)




.test-content
  height: 400px
  position: relative
  width: 80%
  background-color: #D4D4D4
  margin: 0px auto
  margin-top: 50px
  img 
    height: 100%
    width: 100%